@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Pacifico&family=Poppins:wght@600&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins, Quicksand, Pacifico, ;
}


main {
    position: relative;
    background-color: #131215;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    overflow: hidden;
}

/* header ==================================== */
header {
    height: 65px;
    width: 100%;
    z-index: 20;
}

nav {
    display: flex;
    padding: 0 1.5em;
}

.left,
.middle,
.right {
    z-index: 20;
    flex: 1;
    height: 65px;
    display: flex;
    align-items: center;
}

.left {
    gap: 1em;
    justify-content: flex-start;
}

.left h2 {
    font-size: 2em;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
    color: #006648;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.img-logo img {
    width: 100%;
    height: 100%;
}

/* left end */

.middle {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    flex: 1;
    align-items: center;
    height: 50px;

    background-color: #ffc954;
    width: 100%;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
}

.search-logo {
    color: #006648;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .3s linear;
}

.search-logo button {
    font-weight: 900;
    font-size: 1.1em;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.search-logo:hover {
    color: white;
    background-color: #006648;
}


.input {

    border-radius: 40px;
    flex: 1;
    height: 100%;
}

input {
    font-size: 1.1em;
    font-family: Poppins;
    padding: 0 10px;
    background-color: transparent;
    color: #006648;
    border: none;
    width: 100%;
    height: inherit;
}

input::placeholder {
    font-family: Pacifico;
    color: rgb(114, 114, 114);
}

input:focus {
    outline: none;
}


/* middle end */

.right {
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.time-box {
    height: 40px;
    background-color: #ff464e;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all .2s linear;
}

.user {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 3px solid #ffaf36;
    cursor: pointer;
}

.user img {
    width: 100%;
    height: 100%;
}



/* header ends ============================================ */


/* aside =================================================== */

.app-body {
    height: calc(100vh - 65px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}


.aside {
    box-shadow: 1px 1px 10px #0066478a;
    z-index: 20;
    border-radius: 16px;
    width: 100%;
    height: 300px;
    background-color: #bee2d6;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding: 16px 32px;
    color: #006648;
    gap: 10px;
}

.weather {
    gap: 20px;
    display: flex;
    height: 70px;
    align-items: center;
    border-radius: 6px;
    background-color: #78b7a2;
    padding: 0 12px;
}

.weather-info {
    display: flex;
}

.weather-img {
    width: 60px;
    height: 60px;
}

.weather img {
    width: 100%;
    height: 100%;
}

.line {
    height: 2px;
    background-color: rgba(240, 248, 255, 0.365);
    border-radius: 2px;
    margin-top: 5px;
}

.location {
    overflow: hidden;
    display: flex;
    gap: .6em;
    align-items: center;
}

/* aside ends ============================================== */


/* container  */

.content-wraper {
    z-index: 20;
    border-radius: 16px;
    background-color: #bee2d6;
    box-shadow: 1px 1px 10px #0066478a;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.content-wraper>h3 {
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 16px 0 16px 16px;
    background-color: #99d2bf;
}

.content {
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}


.humidity,
.pressure {
    font-family: Poppins;
    color: #006648;
    background-color: #dffffc;
    min-height: 150px;
    max-height: 160px;
    border-radius: 8px;
    padding: 1em 2em;
    min-width: 250px;
    flex: 1;
    transition: all .2s linear;
    box-shadow: 2px 2px 2px rgba(32, 42, 33, 0.352);
    cursor: pointer;

}

#description {
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 700;

}

.humidity i {
    color: #ffaf36;
}

.pressure-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.pressure-details h3 {
    font-size: 1.3em;
}

.weather-info {
    color: #ffaf36;
}


.meter-box {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.meter-box h3,
h4 {
    margin: 0;
}

/* container ends */

/* media queries */

@media screen and (max-width:600px) {
    .right {
        flex: 0;
        overflow: hidden;
    }

    .img-logo {
        width: 30px;
        height: 30px;
    }

    .left h2 {
        font-size: 1.6em;
        font-weight: 900;
        font-family: 'Dancing Script', cursive;
    }

    .content-wraper {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .humidity,
    .pressure {
        flex: 1;
    }

    .content i {
        font-size: 1.8em;
    }


    .footer h3,
    h4 {
        font-size: .8em;
    }

    #sep {
        display: none;
    }

}

@media screen and (min-width:701px) {
    .app-body {
        flex-direction: row;
    }

    .aside {
        max-width: 250px;
        height: 100%;
    }

    .content-wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .content i {
        font-size: 3em;
    }
}

/* ends */



.demo-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 2em;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.demo-search .banner {
    width: 100%;
    height: 100%;
}

.top {
    right: 10%;
    top: 30%;
    position: absolute;
}

.banner img {
    min-width: 600px;
}

.demo-search p {
    color: #045841;
    font-family: Pacifico;
}

.search-img {
    width: 100px;
    height: 100px;
}

.search-img img {
    width: 100%;
    height: 100%;
}

/* footer */


.footer {
    z-index: 99;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 16px 0;
    gap: 10px;
    color: white;
}

.github {
    display: flex;
    align-items: center;
    gap: 5px;
}

.github i {
    font-size: 1.3em;
}

.github a {
    color: white;
}


/* footer ends */





/* ******* */
.shade {
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation-name: fade;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background-color: #99d2bf;
    /* background: linear-gradient(156deg, rgb(39, 39, 247), rgb(250, 82, 82), rgb(133, 240, 133)); */

}

/* ******* */